<div class="stores">
 <div class="album py-5 ">
       
   <% @stores.each_slice(4) do |stores_group| %>
    <div class="row">
      <% stores_group.each do |store| %>
        <div class="card col-md-4 text-center shadow-sm">
          <%= link_to product_path(store.slug) do %>
               <%= image_tag store.logo, class: 'card-img-top'  %>
                  <div class="d-flex justify-content-center align-items-center">
                    <h4>
                    <p><%= store.name %></p>
                    </h4>
                  </div>
        </div>
              
      <% end %>
    
      <% end %>
       
    
    </div>
   <% end %>

  </div>
</div>
  


         